html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;

    }

.navbar {
    z-index: 10;
    width: 100%;
    align-items: center;
    height: 80px;
    display: flex;
    position: relative;
    background-color: #ff1212;
    font-family: "Quicksand", sans-serif;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}
.nav-photo-nom a{
    text-decoration: none;
    color: white;
    white-space: nowrap;

}
.nav-btn {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;

}

.nav-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;

}
.nav-btn a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-photo-nom {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 20px;

}

.navbar-item {
    padding: 10px;
    margin: 10% 30px;
}

.navbar-item:hover {
    background-color: rgb(255, 84, 84);
    border-radius: 25px;
}
/* */

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-right: 40px;
    }

    .nav-btn {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #ff1212;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        
    }

    .nav-btn.show {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
        flex-wrap: nowrap;

    }
}







.header {
    width: 70%;
    margin-top: 50px;
    margin: auto;
    text-align: center;
    align-items: center;
    color: grey;
    background-image: url('/static/video/video.gif'); /* Remplace par le chemin de ton GIF */
    background-size: cover; /* Couvre toute la zone */
    background-repeat: no-repeat; /* Le GIF ne se répète pas */
    background-position: center center; /* Le GIF est centré */
}


.logo-dev {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%; /* Limiter la largeur de la grille */
}

.logo-dev img {
    max-width: 90%;
    border-radius: 25%;
    padding: 20px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    
}
.desc-poste a {
    color:red;
}

.soulignement {
    width: 210px;
    height: 4px;
    margin: auto;
    background-color: rgb(255, 0, 0);
    z-index: 10;
}

.formations {
    margin-top: 90px;
}
.formations p{
    text-align: center;
}

.formations h1 {
    color: red;
    padding-top: 30px;
    margin-left: 10%;
    margin-top: 40px;
}

.soulignement-formations {
    margin-left: 10%;
    width: 85%;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(82, 82, 82);
    z-index: 10;
}

/* Style de la chronologie */
.container {
    margin: 70px ;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 90%;
}

/* Frise verticale avec hauteur réduite */
.frise {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 400px;
    margin-right: 50px;
}

.frise::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #a9a9a9;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* Points plus petits */
.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #adadad;
    margin: 0;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1;
}

/* Distribution uniforme des points sur la frise */
.point:nth-child(1) {
    top: 0%;
}

.point:nth-child(2) {
    top: 14.28%;
}

.point:nth-child(3) {
    top: 28.57%;
}

.point:nth-child(4) {
    top: 42.85%;
}

.point:nth-child(5) {
    top: 57.14%;
}

.point:nth-child(6) {
    top: 71.43%;
}

.point:nth-child(7) {
    top: 85.71%;
}

/* Effet au clic sur un point */
.point.active {
    background-color: #ff0000;
    transform: scale(1.2);
}

/* Conteneur d'informations élargi */
.info-container {
    display: flex;
    width: 85%;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(50px);
}

.info-container.show {
    opacity: 1;
    transform: translateX(0);
}

/* Disposition de l'image à gauche et du texte à droite */
.info-container img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.info {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 10px;
}

.info-description {
    font-size: 1em;
    color: #777;
    margin-top: 15px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
    padding-right: 10px;
}

.tooltip {
    display: none;
}

/* Affichage du tooltip au survol */
.frise-item:hover .tooltip {
    display: block;
}


 /* Hexagons */
 .hex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    font-size: smaller;
}

.hex-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.hexagon {
    width: 16vw;
    height: 13.856vw;
    min-width: 150px;
    min-height: 130px;
    margin: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.hexagon-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.hexagon h1 {
    position: absolute;
    bottom: -100%;
    margin: 0;
    font-size: 1.2em;
    transition: all 0.5s ease;
    text-align: center;
}

.hexagon p {
    position: absolute;
    top: 100%;
    width: 80%;
    margin: 0;
    font-size: 0.9em;
    transition: all 0.5s ease;
    text-align: center;
}

.hexagon span {
    transition: all 0.5s ease;
}

.hexagon:hover h1 {
    bottom: 50%;
    padding-bottom: 10%;
}

.hexagon:hover p {
    top: 50%;
    padding-top: 5%;
}

.hexagon:hover span {
    opacity: 0;
}

.hexagon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f4f4f9;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: 1;
}

.hexagon::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    z-index: -1;
}

.hex-row:first-child .hexagon:nth-child(1)::after {
    background: rgb(0, 0, 255);
}

.hex-row:first-child .hexagon:nth-child(2)::after {
    background: rgb(0, 255, 255);
}

.hex-row:last-child .hexagon:nth-child(1)::after {
    background: rgb(0, 255, 255);
}

.hex-row:last-child .hexagon:nth-child(2)::after {
    background: red;
}

.hex-row:last-child .hexagon:nth-child(3)::after {
    background: rgb(0, 0, 255);
}

/* Tooltip */
.tooltip {
    display: none;
    position: absolute;
    text-align: justify;
    bottom: 50px;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tooltip h2 {
    text-align: center;
}

.tooltip img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/* Conteneur parent */
.news {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: auto; /* Hauteur de la page ou de la fenêtre */
    padding: 50px ;
    background-color: #f4f4f9;
    text-decoration: none;
}
.news a {
    text-decoration: none;

}
/* Conteneur de la grille */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%; /* Limiter la largeur de la grille */
}

/* Éléments de la grille */
.grid-item {
    background-color: #ffffff;
    border: 2px solid;
    border-color:#ff1100;
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

/* Effet hover */
.grid-item:hover {
    transform: scale(1.05);
    background-color: #d50400;
    color: #f4f4f9;
    border: none;
}

.footer {
    color: white;
    height: 150px;
    margin-bottom: 0;
    background-color: darkgray;
    text-align: center;
}

.footer a {
    display: inline-block;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer p {
    display: flex;
    justify-content: center;
}




/* Général : Empêche tout débordement horizontal */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Ajustement des marges/paddings */
* {
    box-sizing: border-box; /* Assure que les paddings ne causent pas de débordements */
    margin: 0;
    padding: 0;
}

/* Navbar : Ajustement sur mobile */
@media screen and (max-width: 768px) {

    .logo-dev img {
        padding: 0;
        max-width: 100%;
    }
    .header{
        width: 90%;
    }
    .header p {
        width: 100%;
    }
    .nom-prenom{
        margin: 30px;
    }
    .desc-poste p {
        margin: 10px 0;
    }
    .navbar {
        flex-wrap: wrap; /* Permet de passer les éléments en dessous */
        height: auto;    /* Ajuste la hauteur */
    }

    .nav-photo-nom {
        margin: auto; /* Centre les éléments */
    }

    .nav-btn a {
        padding: 10px 5px;
    }
}
@media screen and (max-width: 768px) {
    .formations{
        margin-top: 0;
        font-size: small;
    }
.formations h1 {
    padding-top: 0;
}
.formations p {
    margin-top: 20px;
}

}
/* Chronologie : Correction de largeur */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;            /* Évite le débordement */
        margin: 20px 0;
    }

    .frise {
        margin: 0 50px;
    }

    .info-container {
        width: 95%;
        display: block;
        text-align: center;
        height:auto;
    }
    .info-content{
        width: 100%;
    }
    .info-container img{
        margin-right: 0;
        width:100%;
        height: 50%;
    }
    .info-description{
        max-height: none;
        overflow: auto;
    }
    .info-container p{
        display: block;
        width: 100%;
    }
}

/* Hexagones : Responsivité */
@media screen and (max-width: 768px) {

    .hexagon {
        width: 45%; /* Réduit la taille pour s'adapter */
        height: auto;
        min-width: 100px;
        min-height: 100px;
    }
    .hexagon-content img {
        display: flex;
        justify-content: center;
        width: 95%; /* Réduit la taille pour s'adapter */

    }
}

/* Grille des actualités */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Affiche les éléments en colonne */
        gap: 10px;
        width: 95%; /* Ajuste à la largeur du viewport */
    }

    .grid-item {
        padding: 20px 10px; /* Réduit les paddings */
    }
}

/* Footer */
@media screen and (max-width: 768px) {
    .footer {
        font-size: 0.8em;
        padding: 10px;
    }
}


